@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;700;800;900&display=swap');

    /* all in one section */
html {
    font-size: 62.5px;
    scroll-behavior: smooth;
}
body {
    align-items: center;
    padding-top: 14vh;
    margin: 0%;
    justify-content: center;
    background-color: #EBF0F2;
}
a {
    text-decoration: none;
}

    /* go on top button */
.go-on-top-button {
    height: 8vh;
    width: 8vh;
    margin-top: 75vh;
    z-index: 99;
    display: none;
    position: fixed;
    cursor: pointer;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: hsl(212, 75%, 16%);
    color: white;
    padding: 15px;
    border-radius: 4px;
    right: 13px;
    border-radius: 100%;
}

    /* Nav section */
.nav_logo {
    display: flex;
    font-size: 0.8rem;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-weight: 1000;
    cursor: pointer;
}
.nav_bar {
    margin: 0;
    width: 100%;
    height: 14vh;
    background-color: hsl(212, 75%, 16%);
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 100;
}

    /* nav botton section */
.nav_botton_container {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_botton {
    text-align: center;
    margin-left: 2vh;
    margin-right: 2vh;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 0.4rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    display: inline-block;
    position: relative;
}
.nb_contact {
    text-align: center;
    margin-left: 2vh;
    margin-right: 2vh;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 0.4rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    border-radius: 40px;
    padding: 10px 50px; 
    color: #0A2647;
    background-color: #fff;
}

    /* nav botton Hover section */
.nav_dropdown_container {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.nav_dropdown_content {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0px;
    font-family: 'Mitr', sans-serif; 
    font-weight: 300;
    font-size: 0.3rem;
}
.nav_dropdown_content:hover {
    background-color: #144272;
    color: #FFF;
}
.nb_page:hover .nav_dropdown_container {
    display: block;
}
.nb_contact:hover {
    color: #fff;
    background-color: #144272;
}
.nb_about_us {
    width: auto;
}
.nav_botton::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav_botton:hover::after {
transform: scaleX(1);
transform-origin: bottom left;
}
.dropdown-mobile {
    display: none;
    width: 15vw;
    height: 15vh;
    filter: invert(100%) sepia(2%) saturate(1423%) hue-rotate(216deg) brightness(106%) contrast(98%);
}
.mobile-dropdown-menu-container {
    height: 25vh;
    width: 100%;
    min-width: 160px;
    display: none;
    position: fixed;
    z-index: 100;
    background-color: white;
}
.mobile-dropdown-menu-element {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    margin: 0px;
    font-family: 'manrope', sans-serif; 
    font-weight: 300;
    font-size: 0.4rem;
}
.mobile-dropdown-menu-element:hover {
    background-color: #144272;
    color: #FFF;
}


/* contact overlay section */
.contact-section-overlay-background { z-index: 102; position: fixed; background-color: rgba(0, 0, 0, 0.566); width: 100%; height: 100%;}
.contact-section { 
    justify-content: center; 
}

#contact {
    display: none;
}

.contact-container {
    overflow: hidden;
    margin-top: 0.1rem;
    width: 65%;
    height: 80vh;
    z-index: 600;
    position: fixed;
    display: flex;
}


.contact-pic {height: 100%; }
.contact-container-left {
    width: 50%;
    background-color: white;
}
.contact-container-right {

    width: 50%;
    background-color: #fff;
}

.contact-header-container {
    display: flex;
    justify-content: center;
}
.contact-header-text {
    margin-top: 1rem;
    text-align: center;
    font-family: 'Signika', sans-serif;
    font-size: 0.7rem;
    -webkit-user-select: none; 
     -ms-user-select: none; 
     user-select: none;
}

.input-field-container-all {
    margin-left: 0.5rem;
}

.input-field-container {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    height: 0.5rem;
}
.input-field-container-2 {
    display: flex;
    justify-content: center;
    height: 2rem;
}
.input-field {
    width: 27vw;
    height: 0.5rem;
    font-size: 14px;
    font-family: 'Mitr', sans-serif;
}
.contact-send-to {
    font-size: 0.25rem;
    font-family: 'Prompt', sans-serif;
    display: flex;
}
.comment-field {
    width: 27vw;
    height: 2rem;
    font-size: 14px;
    font-family: 'Mitr', sans-serif;
}
.contact-close-button {
    cursor: pointer;
    position: absolute;
    top: 10px; 
    right: 10px;
    -webkit-user-select: none; 
     -ms-user-select: none; 
     user-select: none;
}

.contact-close-button:hover {
    transform: scale(1.05);
}
.contact-button-container {
    margin-right: 0.2rem;
    margin-top: 1.3rem;
    display: flex;
    justify-content: right;
}
.contact-confirm-button {
    font-size: 0.3rem;
    font-family: 'Mitr', sans-serif;
    padding: 6px 25px;
    border: black solid 0.03rem;
    border-radius: 40px;
    cursor: pointer;
}
.cancel-button {
    background-color: white;
    margin-right: 0.1rem;
}
.submit-button {
    background-color: white;
}
.submit-button:hover {
    color: white;
    background-color: #144272;
}
.cancel-button:hover {
    color: white;
    background-color: #144272;
}
.email-copy {
    margin-left: 5px;
}
.email-copy:hover {
    text-decoration: underline;
}




    /* header tilte content */
.header-title-container {
    margin-left: 3.7vw;
    display: flex;
    justify-content: space-between;
}
.header_header_text {
    align-items: center;
    font-size: 0.9rem;
    margin-left: 3.7vw;
    margin-top: 3vh;
    font-weight: 700;
    color: #0A2647;
    font-family: 'Prompt', sans-serif;
}
.header-container-text {
    font-size: 0.4rem;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
}
.header_website-path {
    padding-right: 1rem;
}
.header_category-text {
    font-family: 'Prompt', sans-serif;
    font-size: 0.4rem;
    font-weight: 300;
}

    /* category section */
.category-button {
    z-index: 10;
    display: flex;
    cursor: pointer;
    padding-right: 1vw;
    border-radius: 8px;
    transition: 0.3s;
}
.category-button:hover {
    background-color: rgb(202, 202, 202);
}
.category-icon {
    width: 40px;
    height: 40px;
    padding-right: 0.5vw;
}
.line-under-category {
    width: 92.5%;
}

    /* category dropdown section */
.category-dropdown-content {
    margin-top: 5.7vh;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-size: 0.3rem;
    font-family: 'Prompt', sans-serif;
}
.category-dropdown-content a:hover {
    background-color: #ddd;
}

.category-dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.category-button:hover .category-dropdown-content {
    display: block;
}

    /* content box section */
.content_sector {
    margin: 4% 0;
    display: flex;
    justify-content: space-evenly;
}
.content_container {
    width: 20vw;
    height: 70vh;
    background-color: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);

    transition: transform .1s;
}
.content_container:hover {
    transform: scale(1.02);
}
.content_text {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
}
.content_header {
    padding-bottom: 3vh;
    margin-top: 1vh;
    font-weight: 500;
    font-size: 0.5rem;
}
.content_paragharp {
    display: flex;
    justify-content: space-around;
    width: 20vw;
    height: 15vh;
    margin: auto;
    font-size: 0.3rem;
}
.content-botton {
    padding: 5px;
    display: flex;
    justify-content: center;
    margin-top: 7vh;
}
.content_botton{
    font-size: 0.3rem;
    border: rgba(0, 0, 0, 0.686) solid;
    width: 20vw;
    color: black;
    text-decoration: none;
}
.content_img {
    width: 20vw;
    height: 29vh;
}

    /* footer section */
    .footer {
        padding: 0.3rem 3rem;
        font-family: 'Prompt', sans-serif;
        font-weight: 200;
        background-color: #0A2647;
    }
    
    .footer__top {
        display: flex;
        height: 3.5rem;
    }
    
    .footer__top__left {
        width: 100%;
    }
    
    .footer__top__right {
        margin-top: 4%;
        display: flex;
        flex-direction: row;
        width: 40%;
        justify-content: space-between;
    }
    
    .footer__logo {
        margin: 4%;
        width: 7%;
        margin-bottom: 0.5rem;
    }
    
    .footer__name {
        color: #fcfcfc;
        font-size: 0.3rem;
    }
    
    .footer__button {
        font-size: 0.3rem;
        height: 2rem;
        color: #fcfcfc;
        text-decoration: none;
        cursor: pointer;
    }
    
    .footer__button:hover {
        color: #6dbbff;
    }
    
    .websitefor {
        font-size: 0.3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin-top: 1.5rem;
        padding-top: 1.5rem;
        border-top: 0.01rem solid #fcfcfc;
        color: #fcfcfc;
    }

@media only screen and (max-width: 720px){
    /* go on top button */
.go-on-top-button {
    height: 10vh;
    width: 10vh;
    margin-top: 69vh;
    z-index: 99;
    display: none;
    position: fixed;
    cursor: pointer;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: hsl(212, 75%, 16%);
    color: white;
    padding: 15px;
    border-radius: 4px;
    right: 13px;
    border-radius: 100%;
}


 /* nav section */
body {
    padding-top: 10vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.nav_bar {
    justify-content: none;
    width: 100%;
    height: 10vh;
}
    .nav_logo {
    font-size: 0.4rem;
}
.nav_botton {
    display: none;
}
.nb_contact {
    display: none;
}
.dropdown-mobile {
    display: block;
    margin-left: 12vh;
}
.benner_under_nav_pic {
    width: 100%;
    height: 85vh;
    object-fit: cover;
    object-position: 20%;
    display: block;
    margin: 0;
}

    /* header tilte content */
.header_title_text {
    font-size: 1rem;
    margin-top: 3vh;
    margin-left: 12vh;
    font-family: 'Prompt', sans-serif;
}

/* content box section */
.content_sector {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content_container {
    width: 90%;
    height: 85vh;
    background-color: #FFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
}
.content_text {
    text-align: center;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
}
.content_header {
    padding-bottom: 3vh;
    margin-top: 3vh;
    font-weight: 500;
    font-size: 0.6rem;
}
.content_paragharp {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 15vh;
    margin: auto;
    font-size: 0.25rem;
}
.content-botton {
    -webkit-transform: scale(1);
    transform: scale(1);
    padding: 5px;
    display: flex;
    justify-content: center;
    margin-top: 12vh;
}
.content_botton{
    font-size: 0.3rem;
    border: rgba(0, 0, 0, 0.686) solid;
    width: 80%;
    color: black;
    text-decoration: none;
}
.content-botton:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.content_img {
    width: 100%;
    height: 33vh;
}
/* footer section */
.footer {
    width: 100%;
    padding: 0;
    font-family: 'Prompt', sans-serif;
    font-weight: 200;
    background-color: #0A2647;
}

.footer__top {
    display: flex;
    flex-direction: column;
}

.footer__top__left {
    width: 100%;
}

.footer__top__right {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer__logo {
    margin: 7%; 
    width: 15%;
    margin-bottom: 0.5rem;
}

.footer__name {
    color: #fcfcfc;
    font-size: 0.3rem;
}

.footer__button {
    margin: 5%;
    text-align: center;
    font-size: 0.3rem;
    height: 0.5rem;
    color: #fcfcfc;
    text-decoration: none;
    }

.footer__button:hover {
    color: #6dbbff;
}

.websitefor {
    font-size: 0.3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 0.01rem solid #fcfcfc;
    color: #fcfcfc;
}
}