@import url('https://fonts.googleapis.com/css2?family=Signika:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;700;800;900&display=swap');


/* all in one section */
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    align-items: center;
    padding-top: 14vh;
    margin: 0%;
    justify-content: center;
    background-color: #EBF0F2;
}
a {
    text-decoration: none;
}
/* go on top button */
.go-on-top-button {
    height: 8vh;
    width: 8vh;
    margin-top: 75vh;
    z-index: 99;
    display: none;
    position: fixed;
    cursor: pointer;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: hsl(212, 75%, 16%);
    color: white;
    padding: 15px;
    border-radius: 4px;
    right: 13px;
    border-radius: 100%;
}
/* Nav section */
.nav_logo {
    display: flex;
    font-size: 3.5rem;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
    color: white;
    font-weight: 1000;
}
.nav_bar {
    margin: 0;
    width: 100%;
    height: 14vh;
    background-color: hsl(212, 75%, 16%);
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    z-index: 100;
}

/* nav botton section */
.nav_botton_container {
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav_botton {
    text-align: center;
    margin-left: 2vh;
    margin-right: 2vh;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    display: inline-block;
    position: relative;
}
.nb_contact {
    text-align: center;
    margin-left: 2vh;
    margin-right: 2vh;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    border-radius: 40px;
    padding: 10px 50px; 
    color: #0A2647;
    background-color: #fff;
}

/* nav botton Hover section */
.nav_dropdown_container {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.nav_dropdown_content {
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 0px;
    font-family: 'Mitr', sans-serif; 
    font-weight: 300;
    font-size: 1rem;
}
.nav_dropdown_content:hover {
    background-color: #144272;
    color: #FFF;
}
.nb_page:hover .nav_dropdown_container {
    display: block;
}
.nb_contact:hover {
    color: #fff;
    background-color: #144272;
}
.nb_about_us {
    width: auto;
}
.nav_botton::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav_botton:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.dropdown-mobile {
    display: none;
    width: 1vw;
    height: 1vh;
}
.mobile-dropdown-menu-container {
    min-width: 160px;
    display: none;
}
.mobile-dropdown-menu-element {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    margin: 0px;
    font-family: 'manrope', sans-serif; 
    font-weight: 300;
    font-size: 2rem;
}
.mobile-dropdown-menu-element:hover {
    background-color: #144272;
    color: #FFF;
}


/* benner under nav section */
.benner_pic_slide_show {
    position: relative;
}
.benner_under_nav_pic {
    width: 100%;
    height: auto;
    display: none;
}

.benner_under_nav_text_container {
    margin-right: 10vh;
    margin-top: 20vh;
    z-index: 98;
    width: 100%;
    height: 80vh;
    position: absolute;
}
.bun_text {
    margin-right: 10vh;
    font-family: 'Prompt', sans-serif;
    color: white;   
    font-weight: 300;
    right: 1vw;
    position: absolute;
}
.benner_under_nav_header {
    margin-top: 8vh;
    font-size: 3rem;
    position: absolute;
}
.benner_under_nav_papragrahp {
    margin-top: 13vh;
    font-size: 5.5rem;
    position: absolute;
}
.benner_under_nav_website_edu_fish {
    margin-top: 29vh;
    font-size: 2rem;
    position: absolute;
}
.scroll_down_button {
    margin-top: 37vh;
    width: 5vw;
    font-size: 3rem;
    cursor: pointer;
    text-align: center;
    cursor: pointer;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    border-radius: 40px;
    padding: 10px 50px;
    border: white solid 0.1rem;
    position: absolute;
}
.scroll_down_button:hover {
    background-color: white;
    color: black;
}

/* tile content section */
.tile-content-container {
    display: flex;
}
.tile-left-content {
    width: 50%;
}
.tile-right-content {
    width: 50%;
}
.tile-img-content {
    width: 100%;
    height: 100%;
}
.tile-text-content {
    font-family: 'Prompt', sans-serif;
    font-size: 1rem;
}
.tile-description-container {
    margin: 15%;
}
.tile-text-header {
    font-size: 2.5rem;
}
.tile-text-button {
    text-align: center;
    width: 7vw;
    margin-top: 3vh;
    font-size: 1rem;
    cursor: pointer;
    padding: 2%;
    border: black solid 3px;
    border-radius: 40px;
}
.tile_button {
    color: black;
}
/* tile hover content section */
.tile-text-button:hover {
    border:  hsl(212, 75%, 16%) solid 3px;
    background: hsl(212, 75%, 16%);
    color: white;
}
.tile-text-button:hover .tile_button{
    color: white;
}

/* footer section */
.footer {
    padding: 2rem 10rem;
    font-family: 'Prompt', sans-serif;
    font-weight: 200;
    background-color: #0A2647;
}

.footer__top {
    display: flex;
}

.footer__top__left {
    width: 100%;
}

.footer__top__right {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}

.footer__logo {
    width: 5%;
    margin-bottom: 0.5rem;
}

.footer__name {
    color: #fcfcfc;
}

.footer__button {
    height: 2rem;
    color: #fcfcfc;
    text-decoration: none;
}

.footer__button:hover {
    color: #6dbbff;
}

.websitefor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 0.05rem solid #fcfcfc;
    color: #fcfcfc;
}
@media only screen and (max-width: 835px){
    .dropdown-mobile {
        width: 15vw;
        height: 15vw;
        display: block; 
        filter: invert(95%) sepia(97%) saturate(11%) hue-rotate(245deg) brightness(103%) contrast(103%);
        margin-left: 30vw;
    }
    .nb_contact {
        display: none;
    }
    .nav_logo {
        font-size: 4rem;
    }
    .nav_botton {
        display: none;
    }
    .dropdown-mobile {
        width: 12vw;
        height: 12vh;
    }
    .footer__top__right {
        display: flex;
        flex-direction: row ;
    }
    .bun_text {
        margin-right: 7vw;
    }
    .benner_under_nav_header {
        margin-top: 1vh;
        font-size: 1rem;

    }
    .benner_under_nav_papragrahp {
        margin-top: 10vh;
        font-size: 4.5rem;
      
    }
    .benner_under_nav_website_edu_fish {
        margin-top: 20vh;
        font-size: 2rem;
     
    }
    .scroll_down_button {
        margin-top: 27vh;
        width: 10vw;
    }
    .tile-text-button {
        width: 20vw;
    }
    .tile-description-container {
        padding: 1%;
    }
    .tile-img-content {
        height: 100%;
    }
}
    
@media only screen and (max-width: 1315px){
    .benner_under_nav_header {
        margin-top: 5vh;

    }
    .benner_under_nav_papragrahp {
        margin-top: 10vh;
      
    }
    .benner_under_nav_website_edu_fish {
        margin-top: 27vh;
     
    }
    .scroll_down_button {
        margin-top: 36vh;
        width: 10vw;
    }
    .tile-text-button {
        width: 10vw;
    }
    .tile-description-container {
        padding: 1%;
    }
}
@media only screen and (max-width: 940px){
    .bun_text {
        margin-right: 7vw;
    }
    .benner_under_nav_header {
        margin-top: 3vh;
        font-size: 2.5rem;

    }
    .benner_under_nav_papragrahp {
        margin-top  : 7vh;
        font-size: 4.5rem;
      
    }
    .benner_under_nav_website_edu_fish {
        margin-top: 20vh;
        font-size: 2rem;
     
    }
    .scroll_down_button {
        margin-top: 27vh;
        width: 10vw;
    }
    .tile-text-button {
        width: 20vw;
    }
    .tile-description-container {
        padding: 1%;
    }
    .tile-img-content {
        height: 100%;
    }
}

@media only screen and (max-width: 980px) {
    .footer__top__right {
        width: 60%;
    }
}